---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts" id="{{  post.title  }}">
  <h3>
    <a href="{{ site.github.url }}#{{ post.title  }}">{{ post.title }}</a>
  </h3>
  <span class="post-date post-date-ved">Made in {{ post.date | date: "%Y" }}</span>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ post.project_link }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content }}
    <!--
    <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    -->
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<!--
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{
    site.data.settings.pagination.previous_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{
    site.data.settings.pagination.next_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
-->